.tabel{
    text-align: center;
}
/* @media screen and (max-width: 600px) {
   .td img{
    width: 50px;
   }
   .des{
    width: 50px;
   }
   .nama{
    width: 50px;
   }
   .harga{
    width: 50px;
   }
 }  */